.container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  .tableContainer{
    margin-left: auto;
    margin-right: auto;
    width: 850px;
  }

  .flash{
    color: #e40017;
  }

  #background{
    background-image: url('/public/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: -1;
  }

  #paddingTop{
    padding-top: 50px;
  }