<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/stylesheet.css" />
</head>

<body>
    <div id="background"></div>
    <div id="paddingTop" class="container">
        <div class="card bg-light mb-3" style="max-width: 25rem;">
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/signup">Sign up</a></li>
                    <li class="list-group-item"><a href="/login">Login</a></li>
                    <li class="list-group-item"><a href="/students">Display Students</a></li>
                    <li class="list-group-item"><a href="/comments">Display Comments</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>